* {
  box-sizing: border-box;
  font-family: 'Rubik';
}

html,
body {
  display: flex;
  margin: 0;
  background-color: white;
}

.app__container {
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
